.container {
  padding-top: 4rem;
  text-align: center;
  margin: 0 auto;
}

.loading{
    animation: rotate 1.5s linear infinite; 
  }
  @keyframes rotate{
    from {
      opacity: 0;
    }
    to{ 
      transform: rotate(360deg); 
      opacity: 1;
    }
  }

  